$prefix: 'believe-code';

.#{$prefix} {
  background: #f2f5f8;
  min-height: 100vh;
  position: relative;
  //&-bg{
  //  height: vw(1088);
  //  width: vw(686);
  //  position: absolute;
  //  z-index: -1;
  //  top: 0;
  //  left: 0;
  //}
  .am-tabs-default-bar-content{
    height: vw(92);
  }
  .am-tabs-default-bar-tab{
    font-family: PingFangSC-Regular;
    font-size: ft(30);
    color: #2B333F;
    letter-spacing: vw(-0.48);
    text-align: center;
    line-height: vw(40);
    height: 100%;
  }
  .am-tabs-default-bar-tab-active{
    font-family: PingFangSC-Medium;
    font-size: ft(30);
    color: #255BDA;
    letter-spacing: vw(-0.48);
    text-align: center;
    line-height: vw(40);
    height: 100%;
  }
  .am-tabs-default-bar-underline{
    border: 1px solid #255BDA;
  }
  //.am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
  //  display: none;
  //}
  &-main{
    height: vw(1088);
    width: vw(686);
    margin: vw(16) auto;
    background: url("../../assets/imgs/healthy/codebg.png");
    background-size: 100% 100%;
  }
  &-main-head{

  }
  &-main-head-time{
    font-family: PingFangSC-Medium;
    font-size: ft(90);
    color: #404956;
    letter-spacing: 0;
    text-align: center;
    line-height: vw(80);
    display: block;
    margin-bottom: vw(56);

  }
  &-main-head-date{
    font-family: PingFangSC-Medium;
    font-size: ft(72);
    color: #404956;
    letter-spacing: 0;
    text-align: center;
    line-height: ft(60);
    display: block;
    padding-top: vw(56);
    padding-bottom: vw(24);
  }
  &-line{
    height: vw(2);
    background: linear-gradient(to right, #D8D8D8, #D8D8D8 4.5px, transparent 4.5px, transparent);
    background-size: vw(18) 100%;
    width: vw(624);
    margin: 0 auto;
  }
  &-main-code{
    //margin: vw(56) auto vw(32) auto;

  }
  &-main-code-healthy{
    height: vw(442);
    width: vw(442);
    margin: vw(58) auto 0 auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-name{
    text-align: center;
    margin-top: vw(32);
    margin-bottom: vw(48);
  }
  &-name-block{
    font-family: PingFangSC-Medium;
    font-size: ft(40);
    color: #404956;
    letter-spacing: 0;
    margin-right: vw(24);
  }
  &-name-none{
    font-family: PingFangSC-Medium;
    font-size: ft(28);
    color: #255BDA;
    letter-spacing: 0;
  }
  &-footer{
    display: flex;
    flex-direction: row;
    padding: 0 vw(48) 0 vw(50.2);
  }
  &-footer-png{
    width: vw(27.4) !important;
    height: vw(27.4) !important;
    margin-top: vw(4);
    margin-right: vw(18.4);

  }
  &-footer-text{
    font-family: PingFangSC-Regular;
    font-size: ft(26);
    color: #404956;
    letter-spacing: 0;
    text-align: justify;
    display: block;
    flex: 1;
  }
  &-phone{
    margin-top: vw(80);
    text-align: center;
  }
  &-phone-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &-phone-png{
    width: vw(32.6) !important;
    height: vw(32.6);
    margin-right: vw(8);
  }
  &-phone-text{
    font-family: PingFangSC-Medium;
    font-size: ft(34);
    color: #404956;
    letter-spacing: 0;
    text-align: center;
  }
  &-phone-eg{
    font-family: PingFangSC-Regular;
    font-size: ft(24);
    color: #AEB8C6;
    letter-spacing: 0;
    text-align: center;
  }
}
